html {
  font: 10px;
  display: block;
}

body {
  font-family: sans-serif;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: black;
  margin: 8px;
  display: block;
}

.wrapper-main {
  width: 600px;
  margin: 0 auto;
}

#main {
  flex-direction: column;
  padding: 15px;
  border: radius 5px;
  background: #eee;
  display: block;
  margin: 30px 8px;
  justify-content: center;
}

h1 {
  text-align: center;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-size: medium;
}

#img-div {
  background: white;
  padding: 10px;
  margin: 0;
}

figure {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 40px;
}

ul {
  margin: 0 auto 50px;
  max-width: 550px;
  text-align: left;
  line-height: 1.6;
}

li {
  margin: 16px 0;
  display: list-item;
  text-align: -webkit-match-parent;
}

section {
  display: block;
}

img {
  border-image-width: auto;
}
